* {
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #295629 #eaf9ea;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #eaf9ea;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #295629;
    border-radius: 0px;
    border: 3px solid #ffffff;
  }

body {
    background-color: rgb(254, 250, 239) !important;
    min-height: 100vh;

}

.row {
    flex-wrap:nowrap;
    flex-basis: 100%;
    
}

.progress {
    background-color: rgb(234, 249, 234);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.progress-bar {
    background-color: rgb(41, 86, 41);
}

.main-contaniner {
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.quiz-card {
    max-width: 540px;
    min-width: 150px;
    width: 100%;
    min-height: 375px;
    max-height: 635px;
    background-color: rgb(247, 247, 247);
}

.answer {
    max-width: 440px;
    min-width: 150px;
    width: 100%;
}

.question-footer {
    border-top: 1px solid rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.card-width {
    max-width: 440px;
    min-width: 150px;
    width: 100%;
}

.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    height: 100%;
}

.score {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.end-screen img {
    width: 5rem;
    height: 5rem;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    height: 100%;
}

.quizbar {
    background-color: rgb(41, 86, 41);
    max-width: 100px;
    width: 100%;
    flex-shrink: 0.5;
    min-height: 375px;
    max-height: 635px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    left: 0;
}

.quizbar button {
    color: rgb(155, 167, 192);
}

.quizbar img {
    height: 3rem;
    width: 3rem;
}


@media (max-width: 500px) {

    .answer {
        width: 280px;
        flex-shrink: 1;
    }
    
    .card-width {
        flex-shrink: 1;
    }
    
}

@media (max-width: 400px) {

    .answer {
        width: 230px;
    }
 
}

@media (max-width: 350px) {

    .quiz-card {
        flex-shrink: 1;
    }

    .answer {
        width: 160px;
        
    }

    .quizbar {
        max-width: 100px;
        min-width: 80px;
        width: 80px; 
    }

    .score {
        flex-direction: column;
    }
 
}